#pcs {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping onto the next line if necessary */
  gap: 1rem; /* Optional: adds space between articles */
}

#pc {
  margin: 10px;
  background-color: rgb(183, 183, 183);
  width: 300px;
  border: solid 3px gray;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
